@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#prompt-submit-button-outer {
    position: relative;
    display: inline-flex;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 3.40282e38px;
}

#prompt-submit-button {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 3.40282e38px;
    outline: none;
    cursor: pointer;
    opacity: 1;
    background-image: linear-gradient(to top, var(--color-base-300) 0%, var(--color-base-100) 80%, var(--color-base-200) 100%);
    border: 1px solid hsl(from var(--color-base-100) calc(h + 220) calc(s + 1) calc(l - 23) / 0.77);
    mask: radial-gradient(circle at 50% 50%, transparent 8%, rgba(0, 0, 0, 0.6) 9%, black 10%);
}

#prompt-submit-button-outer:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: conic-gradient(var(--color-primary), var(--color-secondary), var(--color-accent));
    scale: 0.1;
    filter: blur(2px) grayscale(50%);
    border-radius: inherit;
    opacity: 0.2;
    transition:
        all 333ms;
}

#prompt-submit-button-outer::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
    box-shadow:
        0 1px 2px 1px hsl(from var(--color-base-100) h s calc(l - 1)),
        0 3px 4px hsl(from var(--color-base-100) calc(h + 220) calc(s + 4) calc(l - 14)),
        0 -2px 3px hsl(from var(--color-base-100) calc(h + 220) calc(s + 3) calc(l - 18)),
        0 -2px 3px var(--color-base-100),
        inset 0 0 2px 1px hsl(from var(--color-base-100) calc(h + 220) calc(s + 4) calc(l - 14));

}

/* Hover states - all triggered from outer element */
#prompt-submit-button-outer:hover #prompt-submit-button {
    box-shadow:
        0 2px 2px 1px hsl(from var(--color-base-100) h s calc(l - 1)),
        0 3px 4px hsl(from var(--color-base-100) calc(h + 220) calc(s + 4) calc(l - 14)),
        0 -2px 3px hsl(from var(--color-base-100) calc(h + 220) calc(s + 3) calc(l - 18)),
        0 -4px 3px var(--color-base-100),
        inset 0 0 6px 1px hsl(from var(--color-base-100) calc(h + 220) calc(s + 4) calc(l - 14));
}

#prompt-submit-button-outer:hover:before {
    filter: blur(1px) grayscale(22%);
    opacity: 0.7;
}

/* Active states - all triggered from outer element */
#prompt-submit-button-outer:active #prompt-submit-button,
#prompt-submit-button-outer.inference-in-progress #prompt-submit-button {
    box-shadow:
        0 2px 2px 1px hsl(from var(--color-base-100) h s calc(l - 1)),
        0 3px 4px hsl(from var(--color-base-100) calc(h + 220) calc(s + 4) calc(l - 14)),
        0 -2px 3px hsl(from var(--color-base-100) calc(h + 220) calc(s + 3) calc(l - 18)),
        0 -4px 3px var(--color-base-100),
        inset 0 0 5px 3px hsl(from var(--color-base-100) calc(h + 220) calc(s + 4) calc(l - 14)),
        inset 0 0 15px 1px hsl(from var(--color-base-100) calc(h + 220) calc(s + 4) calc(l - 14));
    opacity: 0.0;
    transition:
        opacity 222ms,
        all 2000ms;
}

#prompt-submit-button-outer:active:before,
#prompt-submit-button-outer.inference-in-progress:before {
    scale: 1;
    animation: spin 2s linear infinite;
    filter: blur(5px) grayscale(0%);
    opacity: 1;
    transition:
        opacity 222ms,
        all 2000ms;
}