/* Coolors Exported Palette - https://coolors.co/5ef427-e6af2e-dc0073-008bf8-413c58 */

/* CSS HEX */
--harlequin: #5ef427ff;
--xanthous: #e6af2eff;
--mexican-pink: #dc0073ff;
--bleu-de-france: #008bf8ff;
--english-violet: #413c58ff;

/* CSS HSL */
--harlequin: hsla(104, 90%, 55%, 1);
--xanthous: hsla(42, 79%, 54%, 1);
--mexican-pink: hsla(329, 100%, 43%, 1);
--bleu-de-france: hsla(206, 100%, 49%, 1);
--english-violet: hsla(251, 19%, 29%, 1);

/* SCSS HEX */
$harlequin: #5ef427ff;
$xanthous: #e6af2eff;
$mexican-pink: #dc0073ff;
$bleu-de-france: #008bf8ff;
$english-violet: #413c58ff;

/* SCSS HSL */
$harlequin: hsla(104, 90%, 55%, 1);
$xanthous: hsla(42, 79%, 54%, 1);
$mexican-pink: hsla(329, 100%, 43%, 1);
$bleu-de-france: hsla(206, 100%, 49%, 1);
$english-violet: hsla(251, 19%, 29%, 1);

/* SCSS RGB */
$harlequin: rgba(94, 244, 39, 1);
$xanthous: rgba(230, 175, 46, 1);
$mexican-pink: rgba(220, 0, 115, 1);
$bleu-de-france: rgba(0, 139, 248, 1);
$english-violet: rgba(65, 60, 88, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #5ef427ff, #e6af2eff, #dc0073ff, #008bf8ff, #413c58ff);
$gradient-right: linear-gradient(90deg, #5ef427ff, #e6af2eff, #dc0073ff, #008bf8ff, #413c58ff);
$gradient-bottom: linear-gradient(180deg, #5ef427ff, #e6af2eff, #dc0073ff, #008bf8ff, #413c58ff);
$gradient-left: linear-gradient(270deg, #5ef427ff, #e6af2eff, #dc0073ff, #008bf8ff, #413c58ff);
$gradient-top-right: linear-gradient(45deg, #5ef427ff, #e6af2eff, #dc0073ff, #008bf8ff, #413c58ff);
$gradient-bottom-right: linear-gradient(135deg, #5ef427ff, #e6af2eff, #dc0073ff, #008bf8ff, #413c58ff);
$gradient-top-left: linear-gradient(225deg, #5ef427ff, #e6af2eff, #dc0073ff, #008bf8ff, #413c58ff);
$gradient-bottom-left: linear-gradient(315deg, #5ef427ff, #e6af2eff, #dc0073ff, #008bf8ff, #413c58ff);
$gradient-radial: radial-gradient(#5ef427ff, #e6af2eff, #dc0073ff, #008bf8ff, #413c58ff);